body {
  font-family: Myriad;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  background-color: rgb(255, 92, 92);
}

a {
  display: inline-block;
  color: grey;
  text-decoration: none;
}

a:hover{
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size:10px;
}

hr {
  border-top: 0.5px dashed lightgrey;
  width: 50%;
  float: left;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.translation_title {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.title_in_german {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2em;
}

#menusite {
  font-size: 8px;
  color: lightgrey;
}

#menu {
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  text-align: left;
  width: 150px;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  margin-bottom: 1em;
  margin-top: 1em;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  margin-bottom: 0.35em;
}

#menu li a {
  display: inline-block;
  color: grey;
  text-decoration: none;
}

#menu li a:hover{
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size:10px;
}


#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 50px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#content h1, #content h2, #content h3 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #aaa;
}

#content p, #content ul {
  color: #333;
  line-height: 12px;
  width: 250px;
}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content p.notop {
  margin-top: 0;
}

#content .quote {
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
}

#content .thanks {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #eee;
  margin-bottom: 4em;
  font-size: smaller;
  color: #777;
}

#content .thanks a {
  color: #777;
}

#content li {
  margin-bottom: 0.7em;
}

.post + .post {
  margin-top: 50px;
}