<hr>
<ul>
  <li><a href="/neu">Allgemeines und Überraschendes</a></li>
  <li><a href="/charisma">Charisma/Kraft</a></li>
  <li><a href="/risiko">Das Risiko der Entdeckung</a></li>
  <li><a href="/todesstrafe">In diesem Jahr können wir die Todesstrafe in Kalifornien beenden</a></li>
  <li><a href="/pittsburgh">Wie man Pittsburgh zu einem Startup Hub macht</a></li>
  <li><a href="/daslebenistkurz">Das Leben ist kurz</a></li>
  <li><a href="/ungleich">Wirtschaftliche Ungleichheit</a></li>
  <li><a href="/bias">Eine Möglichkeit, Bias zu erkennen</a></li>
  <li><a href="/schreiben">Schreiben Sie, wie Sie sprechen</a></li>
  <li><a href="/default">Default Alive or Default Dead?</a></li>
   <li><a href="/nett">Warum es für Gründer unbedenklich ist, nett zu sein,</a></li>
</ul>