<ul>
  <li><a href="/index">Index</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/translations">Translations / Intellectual Honesty</a></li>
  <li><a href="/bio">Bio</a></li>
  <li><a href="/bio">CDDR</a></li>
</ul>
